h1 {
    text-align: center;
    font-size: 40px;
    color: white; 
    margin-top: 150px;
    margin-bottom: 80px;
    /*margin: auto;*/}
div h1{
    display: flex;
    justify-content: center;
}
body {
    background-color: #27374D; 
    background-repeat: no-repeat;
    background-image: url(./images/for-div-bg.jpg);
}
.about {
    text-align: center;
    font-size: 40px;
    color: white;
}
/*.btn-about {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 50px;
    background-color: #526D82;
    color: white;
    font-style: Helvetica;
    font-size: medium;
    text-decoration: none;
}*/
div .btn-about{
    height: 50px;
}
.welcome {
    margin-bottom: 50px;
    height: 100px;
    background-position: top center;
    background-size: auto;
}
.cards-wrapper{
    display: flex;
    justify-content: center;
    align-content: row;
    align-items: center;
    flex-direction: row;
    margin: 15px;
}
@media  screen and (max-width: 567px) {
    .cards-wrapper:not(:first-child){
        display: none;
    }
}
@media  screen and (min-width: 567px) {
.card{
    margin: 0 .5em;
    width:  18rem;
}
.row-justify-content-center {
    display: flex;
    align-items: center; 
    align-content: row;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}
}
.footer {
    height: 100px;
    padding: 20px;
}
/*.anaderwan {
    display: flex;
    align-items: center;
    align-content: row;
    flex-direction: row;
    justify-content: center;
}*/
.btn {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #526D82;
}